<br><div class="card border-primary mb-3">
  <div class="card-header">Comentario</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Comentario</h5>
    <div *ngIf="comentarios.length < 1" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Email</th>
        <th>Comentario</th>
        <th>N°</th>
        <th>Region</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of comentarios">
        <td>{{ c.correo }}</td>
        <td>{{ c.contenido }}</td>
        <td>{{ c.region.codigo }}</td>
        <td>{{ c.region.nombre }}</td>
        <td>
          <button type="button" name="editar" class="btn btn-primary btn-sm">Editar</button>
          <button type="button" name="eliminar" class="btn btn-danger btn-sm"  >Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
